torch        
torchaudio
einops                 
librosa              
numpy                  
omegaconf              
packaging
PyYAML               
scipy              
tqdm
soundfile                      
transformers     